#main {
    margin: auto;
    width: 800px;
}

#main h1 {
    text-align: center;
}

#main form {
    padding: 10px;
}

#main .row {
    margin-bottom: 7.5px;
}

#main div ul li {
    margin-bottom: 5px;
}
